:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 100%);
    --white: hsl(0, 0%, 100%);

}

.card{
    position: relative;
    margin: 50px auto;
    border-radius: 18px;
    padding: 25px 25px;
    width: 400px;
    background-color: var(--card-bg);
    font-weight: 300;
    color: var(--soft-blue);
    line-height: 26px;
}

.card h2{
    font-weight: 60;
    color: var(--white);
    line-height: 28px;
    font-size: 22px;
    margin: 20px 0 10px 0;

}
.card h2:hover{
    color: var(--cyan);
}

.nft{
    width: 100%;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
    font-size: 18px;
    background-color:pink

}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 200px;

}

.time, .price{
    display: flex;
    align-items: center;
}

.time img,
.price img{
    margin-right: 5px;

}
.img-overlay{
    display: flex;
    background-color: var(--cyan);
    position: absolute;
    border-radius: 3%;
    left: 25px;
    top: 25px;
    opacity: 0;
    height: 310px;
    width: 350px;
    align-items: center;
    justify-content: center;
}

.img-overlay:hover{
    opacity: 0.5;
    transition: 5;

}
.container{
    border-bottom: 2px solid var(--line);
    padding-bottom: 17px;
}
.creator{
    display: flex;
    align-items: center;

}
.creator span{
    color: var(--white);
}

.creator,span:hover{
    color: var(--soft-blue);
}
.creator img{
    margin-right: 20px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid var(--white);

}
.price{
    color: var(--cyan);
}




